/*   Navbar   */
.nav-container {
  width: min(92vw, var(--container-xl));
  margin: 0 auto;
  padding: 0 1rem;
}

nav {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links>li {
  position: relative;
}

.nav-links>li>a {
  display: flex;
  align-items: center;
  color: var(--dark-color);
  font-weight: 500;
  font-size: 1rem;
  padding: 10px 15px;
  transition: all 0.3s;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links>li>a:hover,
.nav-links>li>a.active-link {
  border-bottom: 5px solid var(--secondary-color);
  transform: scale(1.05);
  border-radius: 5px;
  color: var(--dark-color);
}

.dropdown-icon {
  margin-left: 5px;
  font-size: 0.9em;
}

/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--light-color);
  color: var(--dark-color);
  width: 220px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  z-index: 100;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

.nav-links>li:hover .dropdown-menu,
.dropdown-menu.open {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu li a {
  color: var(--dark-color);
  padding: 10px 15px;
  display: block;
  transition: all 0.3s;
  text-decoration: none;
  text-transform: uppercase;
}

.dropdown-menu li a:hover,
.dropdown-menu li a.active-link {
  color: var(--dark-color);
  padding-left: 20px;
  border-radius: 5px;
  border-bottom: 5px solid var(--secondary-color);
}

.mobile-menu {
  display: none;
  font-size: 1.5rem;
  color: var(--dark-color);
  cursor: pointer;
  padding: 15px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .mobile-menu {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 100px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 100px);
    background: var(--background);
    flex-direction: column;
    padding: 20px 0;
    transition: left 0.3s;
    overflow-y: auto;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links>li {
    width: 100%;
  }

  .nav-links>li>a {
    padding: 12px 20px;
  }

  .dropdown-menu {
    position: static;
    width: 100%;
    opacity: 1;
    visibility: visible;
    display: none;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.1);
  }

  .dropdown-menu.open {
    display: block;
  }

  .dropdown-menu li a {
    color: var(--dark-color);
    padding-left: 30px;
    border-bottom-color: rgba(255, 255, 255, 0.1);
    font-weight: 500;
    font-size: 1rem;
    background: var(--background);
  }
}